.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mantine-color-body);
  height: rem(100px);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ensures space between the logo and other elements */
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ensures logo is on the left, others on the right */
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Aligns the logo to the left */
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Aligns links and menu to the right */
  gap: rem(20px);
  /* Adds spacing between navigation links and user menu */
}

.navLinks {
  display: flex;
  gap: rem(15px);
  /* Adds spacing between each navigation link */
}

.user {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.link:hover {
  text-decoration: underline;
}